// Core Style
body {
  background-color: #f3f3f4;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #20a0da;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #20a0da;
  text-decoration: underline;
}

img {
  max-width: 100%;
}


/* Loader Plugin */

.overLay {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50000;
}

.loader {
  background: none repeat scroll 0 0 #fff;
  border-radius: 50%;
  bottom: 0;
  box-shadow: 0 0 5px #444;
  height: 130px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 130px;
  img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 555;
  }
}

#page-load {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999999;
  .inner {
    bottom: 0;
    height: 54px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 54px;
  }
  span.loading {
    border-color: rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    font-size: 10px;
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -25px;
    position: absolute;
    text-indent: -12345px;
    top: 50%;
    width: 50px;
    z-index: 100001;
    animation: spin 0.5s linear infinite;
  }
}

@include keyframes(spin) {
  0% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(360deg);
  }
}

.img-rounded {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  background-color: #fafafa;
}

#wrapper {
  width: 100%;
  height: 100vh;
}

#page-wrapper {
  padding: 0 25px;
  min-height: 568px;
  height: 100%;
  position: relative;
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}

.btn-wrapper {
  margin: 15px 0;
}

.btn {
  &.active {
    &.focus,
    &:focus {
      outline: 0;
      outline-offset: 0;
    }
  }
  &.focus {
    outline: 0;
    outline-offset: 0;
  }
  &:active {
    &.focus,
    &:focus {
      outline: 0;
      outline-offset: 0;
    }
  }
  &:focus {
    outline: 0;
    outline-offset: 0;
  }
}

.btn-blue {
  color: #fff;
  background-color: #20a0da;
  border-color: #20a0da;
  &:hover,
  &:focus {
    color: #fff;
    background-color: #188dc2;
    border-color: #188dc2;
  }
}

.btn-pink {
  color: #fff;
  background-color: #fc6b73;
  border-color: #fc6b73;
  &:hover,
  &:focus {
    color: #fff;
    background-color: #df4951;
    border-color: #df4951;
  }
}

.btn-orange {
  color: #fff;
  background-color: #ffb252;
  border-color: #ffb252;
  &:hover,
  &:focus {
    color: #fff;
    background-color: #e39b42;
    border-color: #e39b42;
  }
}

.btn-gray {
  color: #272727;
  background-color: #ffffff;
  border-color: #e3e3e3;
  &:hover,
  &:focus {
    color: #272727;
    background-color: #f3f3f3;
    border-color: #e3e3e3;
  }
}

.btn-green {
  color: #fff;
  background-color: #06cd18;
  border-color: #06cd18;
  &:hover,
  &:focus {
    color: #fff;
    background-color: #07a015;
    border-color: #07a015;
  }
}


/*-- breadcrumb css --*/

.breadcrumb-wrap {
  .breadcrumb > li + li:before {
    content: ">";
    color: #5d5d5d;
    padding-left: 0;
    padding-right: 3px;
  }
  li a {
    color: #838383;
    text-decoration: none;
    font-size: 13px;
  }
  .active {
    color: #20a0da;
    cursor: text;
  }
  .breadcrumb {
    background-color: #f3f3f4;
    margin-top: -7px;
    padding: 0;
  }
  margin: 12px 0 25px 0;
}

.page-header {
  border: none;
  margin-bottom: 0px;
  margin-top: 30px;
  color: #2e2d2d;
  font-size: 26px;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #636c72;
  content: ">";
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.breadcrumb {
  a {
    color: #797979;
  }
  span.active {
    color: #1fa0da;
  }
}


/* Pagination-Starts */

.dataTables_paginate .pagination > li > a,
.dataTables_paginate .pagination > li > span {
  color: #6a6c6e;
}

.dataTables_paginate .pagination > li > a {
  padding: 6px 12px;
  height: 32px;
}

.dataTables_paginate .pagination > .active > a {
  color: #6a6c6e;
  cursor: default;
  background-color: #fff;
  border-color: #d2d2d2;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.dataTables_paginate .pagination > .active > a:focus,
.dataTables_paginate .pagination > .active > a:hover {
  color: #6a6c6e;
  cursor: default;
  background-color: #fff;
  border-color: #d2d2d2;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.dataTables_paginate .pagination .previous a,
.dataTables_paginate .pagination .next a {
  font-size: 20px;
  padding: 0px 12px;
  height: 32px;
  font-weight: 700;
}

.dataTables_paginate a:focus {
  outline: 0;
  outline-offset: 0;
}

div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
  margin-top: 30px;
}

.chat {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999999;
    &.left .chat-body {
      margin-left: 60px;
    }
    &.right .chat-body {
      margin-right: 60px;
    }
    .chat-body p {
      margin: 0;
    }
  }
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}

.login-panel {
  margin-top: 25%;
}

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

table.dataTable thead {
  .sorting,
  .sorting_asc,
  .sorting_desc,
  .sorting_asc_disabled,
  .sorting_desc_disabled {
    background: transparent;
  }
  .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
  }
  .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
  }
  .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, 0.5);
  }
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
  &.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
  }
  &.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
  }
}

.card {
  border-radius: 4px;
  @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1));
  background-color: #FFFFFF;
  margin-bottom: 30px;
  .image {
    width: 100%;
    overflow: hidden;
    height: 260px;
    border-radius: 4px 4px 0 0;
    position: relative;
    @include transform-style(preserve-3d);
    img {
      width: 100%;
    }
  }
  .content {
    padding: 15px 15px 10px 15px;
  }
  .header {
    padding: 15px 15px 0;
  }
  .title {
    margin: 0;
    color: #333333;
    font-weight: 300;
  }
  .footer {
    padding: 0;
    background-color: transparent;
    line-height: 30px;
    .legend {
      padding: 5px 0;
    }
    hr {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

.contact-wrapper {
  background: #fff;
  padding: 30px 15px;
  border-radius: 3px;
  @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.2));
  .add-contact-media{width:auto;}
}

.show-grid {
  [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
  }
  margin: 15px 0;
}

.huge {
  font-size: 40px;
}

.panel-green {
  border-color: #5cb85c;
  > {
    .panel-heading {
      border-color: #5cb85c;
      color: white;
      background-color: #5cb85c;
    }
    a {
      color: #5cb85c;
      &:hover {
        color: #3d8b3d;
      }
    }
  }
}

.panel-red {
  border-color: #d9534f;
  > {
    .panel-heading {
      border-color: #d9534f;
      color: white;
      background-color: #d9534f;
    }
    a {
      color: #d9534f;
      &:hover {
        color: #b52b27;
      }
    }
  }
}

.panel-yellow {
  border-color: #f0ad4e;
  > {
    .panel-heading {
      border-color: #f0ad4e;
      color: white;
      background-color: #f0ad4e;
    }
    a {
      color: #f0ad4e;
      &:hover {
        color: #df8a13;
      }
    }
  }
}

.timeline {
  position: relative;
  padding: 20px 0 20px;
  list-style: none;
  &:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #eeeeee;
  }
  > li {
    position: relative;
    margin-bottom: 20px;
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    > {
      .timeline-panel {
        float: left;
        position: relative;
        width: 46%;
        padding: 20px;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        &:before {
          content: " ";
          display: inline-block;
          position: absolute;
          top: 26px;
          right: -15px;
          border-top: 15px solid transparent;
          border-right: 0 solid #ccc;
          border-bottom: 15px solid transparent;
          border-left: 15px solid #ccc;
        }
        &:after {
          content: " ";
          display: inline-block;
          position: absolute;
          top: 27px;
          right: -14px;
          border-top: 14px solid transparent;
          border-right: 0 solid #fff;
          border-bottom: 14px solid transparent;
          border-left: 14px solid #fff;
        }
      }
      .timeline-badge {
        z-index: 100;
        position: absolute;
        top: 16px;
        left: 50%;
        width: 50px;
        height: 50px;
        margin-left: -25px;
        border-radius: 50% 50% 50% 50%;
        text-align: center;
        font-size: 1.4em;
        line-height: 50px;
        color: #fff;
        background-color: #999999;
      }
    }
    &.timeline-inverted > .timeline-panel {
      float: right;
      &:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      &:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
    }
  }
}

.timeline-badge {
  &.primary {
    background-color: #2e6da4 !important;
  }
  &.success {
    background-color: #3f903f !important;
  }
  &.warning {
    background-color: #f0ad4e !important;
  }
  &.danger {
    background-color: #d9534f !important;
  }
  &.info {
    background-color: #5bc0de !important;
  }
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > {
  p,
  ul {
    margin-bottom: 0;
  }
  p + p {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  ul.timeline {
    &:before {
      left: 40px;
    }
    > li > {
      .timeline-panel {
        width: calc(10%);
        width: -moz-calc(10%);
        width: -webkit-calc(10%);
      }
      .timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
      }
      .timeline-panel {
        float: right;
        &:before {
          right: auto;
          left: -15px;
          border-right-width: 15px;
          border-left-width: 0;
        }
        &:after {
          right: auto;
          left: -14px;
          border-right-width: 14px;
          border-left-width: 0;
        }
      }
    }
  }
}


/*! Ashwani*/


/*! Top Pannel*/

.navbar-plain {
  background: #fff;
  border-color: #e7e7e7;
  margin-bottom: 0;
  .navbar-toggle {
    border-color: #ddd;
    .icon-bar {
      background-color: #888;
    }
  }
  .navbar-brand {
    padding: 0px 15px;
    height: auto;
    img {
      padding: 2px 0;
    }
  }
}

.navbar-right > li > a.userLog {
  background: transparent;
  opacity: 1;
  p {
    line-height: 1.3;
    font-size: 11px;
    margin: 0;
    small {
      color: #20a0da;
      font-size: 15px;
    }
  }
  .avatar {
    width: 53px;
    margin-right: 15px;
  }
  &:hover p,
  &:focus p {
    color: #9A9A9A;
  }
  &:hover p small,
  &:focus p small {
    color: #20a0da;
  }
  &:hover,
  &:focus {
    background: transparent;
  }
}


/*! Sidebar*/

.sidebar-blue {
  background: #20a0da;
}

.sidebar-azure {
  background: #1DC7EA;
  @include background (linear-gradient(to bottom, #1DC7EA 0%, #4091ff 100%));
  background-size: 150% 150%;
}

.sideba-green {
  background: #87CB16;
  @include background(linear-gradient(to bottom, #87CB16 0%, #6dc030 100%));
  background-size: 150% 150%;
}

.sidebar-orange {
  background: #FFA534;
  @include background(linear-gradient(to bottom, #FFA534 0%, #ff5221 100%));
  background-size: 150% 150%;
}

.sidebar-red {
  background: #FB404B;
  @include background(linear-gradient(to bottom, #FB404B 0%, #bb0502 100%));
  background-size: 150% 150%;
}

.sidebar-purple {
  background: #9368E9;
  @include background(linear-gradient(to bottom, #9368E9 0%, #943bea 100%));
  background-size: 150% 150%;
}

footer {
  padding: 30px 24px;
  color: #434343;
  font-size: 12px;
  clear: both;
}

.userSection {
  @include transform (translateY(-50%) translateX(-50%));
  //transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
  position: absolute;
  max-width: 600px;
  p.text-center {
    padding: 15px;
  }
  .loginForm {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    &>.col-md-12 {
      padding: 30px;
    }
    &>.col-md-12+.col-md-12 {
      padding: 15px 30px;
      border-top: 1px solid #e8e8e8;
      text-align: center;
    }
  }
  .navbar-brand {
    margin: 0 auto;
    float: none;
    display: block;
    height: auto;
    text-align: center;
    padding: 0;
  }
  img {
    display: inline-block;
  }
  h2 {
    font-size: 18px;
    font-weight: 500;
    color: #4b4b4b;
    text-align: center;
    margin: 30px 0;
  }
  label {
    font-weight: 500;
  }
  input {
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-radius: 5px;
    @include box-shadow(none);
    padding: 10px 16px;
    line-height: 1.66666;
    height: auto;
    color: #353434;
  }
  .btn-primary {
    background-color: #20a0da;
    border: 0px solid #20a0da;
    width: 75%;
    margin: 15px 0;
    font-size: 16px;
    height: 49px;
    &:hover,
    &:focus {
      color: #fff;
      background-color: #188dc2;
      border-color: #188dc2;
      outline: 0;
    }
  }
  h2 + p.text-center {
    padding-top: 0;
  }
  .form-group label {
    font-size: 15px;
  }
  .form-group input {
    height: 45px;
    font-size: 15px;
  }
  .form-group input {
    &:hover,
    &:focus {
      height: 45px;
      font-size: 15px;
    }
  }
}

@media (max-width: 767px) {
  .userSection {
    @include transform (translateY(0) translateX(-50%));
    top: 0;
    left: 50%;
    position: relative;
    max-width: 600px;
    .loginForm {
      background: #fff;
      &>.col-md-12 {
        padding: 15px;
      }
      &>.col-md-12+.col-md-12 {
        padding: 15px 0;
        border-top: 1px solid #e8e8e8;
        text-align: center;
      }
    }
    .btn-primary {
      min-width: inherit;
      width: 80%;
      margin: 15px 0;
    }
  }
}

.contact__add {
  ._imageThumb {
    display: inline-block;
    width: 190px;
    .img-rounded + a {
      margin-top: 10px;
      display: inline-block;
    }
  }
  .control-label {
    text-align: left;
    font-weight: normal;
  }
  .none_ditable {
    .form-control[disabled],
    .form-control[readonly],
    fieldset[disabled] .form-control {
      @include box-shadow(none);
      background: none;
      border-color: transparent;
      cursor: default;
      pointer-events: none;
      &:focus {
        outline: none;
      }
    }
    textarea {
      height: 100%;
      resize: none;
    }
  }
  h4.title {
    margin: 0 0 20px 0;
  }
  textarea {
    margin-top: 10px;
  }
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}


/* Customm Buttons */

.btn-default {
  color: #272727;
  background-color: #ffffff;
  border-color: #e3e3e3;
  &:hover,
  &:focus,
  &:active,
  &:active:hover {
    color: #272727;
    background-color: #f3f3f3;
    border-color: #e3e3e3;
  }
}

.btn-success {
  color: #fff;
  background-color: #3fb8af;
  border-color: #3fb8af;
  &:hover,
  &:focus,
  &:active,
  &:active:hover {
    color: #fff;
    background-color: #349c94;
    border-color: #349c94;
  }
}

.btn-warning {
  color: #fff;
  background-color: #e58515;
  border-color: #e58515;
  &:hover,
  &:focus,
  &:active,
  &:active:hover {
    color: #fff;
    background-color: #c26f0f;
    border-color: #c26f0f;
  }
}

.btn-info {
  color: #fff;
  background-color: #4ccaf9;
  border-color: #4ccaf9;
  &:hover,
  &:focus,
  &:active,
  &:active:hover {
    color: #fff;
    background-color: #39b6e5;
    border-color: #39b6e5;
  }
}

.btn-danger {
  color: #fff;
  background-color: #ef1919;
  border-color: #ef1919;
  &:hover,
  &:focus,
  &:active,
  &:active:hover {
    color: #fff;
    background-color: #d01414;
    border-color: #d01414;
  }
}

.btn-primary {
  color: #fff;
  background-color: #20a0da;
  border-color: #20a0da;
  &:hover,
  &:focus,
  &:active,
  &:active:hover {
    color: #fff;
    background-color: #188dc2;
    border-color: #188dc2;
  }
}
.btn-silvery{
  color: #fff;
  background-color: #b3b3b3;
  border-color: #b3b3b3;
  &:hover,
  &:focus,
  &:active,
  &:active:hover {
    color: #fff;
    background-color: #9b9a9a;
    border-color: #9b9a9a;
  }
}

/* Custom Buttons */

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

._contentWrap {
  .mb-5 {
    margin-bottom: 4em;
  }
  .mb-6 {
    margin-bottom: 5em;
  }
  h4 {
    margin: 10px 0 30px 0;
    color: #676a6c;
    font-weight: 600;
  }
  .form-control {
    margin-bottom: 30px;
  }
  ._addcontent {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
    ._editContent {
      position: absolute;
      bottom: 30px;
      right: 0;
    }
    ._imageThumb {
      // display: inline-block;
      // width: 192px;
      // height: 192px;
      //margin-bottom: 60px;
      .img-rounded {
        background: transparent;
        border: none;
        border-radius: 0;
        position: relative;
        z-index: 2;
        border: 1px solid #e8e8e8;
        border-radius: 4px;
      }
      .img-rounded + span {
        display: none;
      }
      span {
        height: 192px;
        width: 100%;
        display: inline-block;
        position: relative;
        &:before {
          border: 1px solid #e8e8e8;
          background: #fafafa;
          content: "Add Photo";
          width: 100%;
          position: absolute;
          z-index: 0;
          left: 0;
          height: 100%;
          border-radius: 4px;
          line-height: 280px;
          color: #676a6c;
          font-weight: 600;
          font-size: 16px;
          line-height: 280px;
        }
        &:after {
          content: "\f030";
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          position: absolute;
          font-size: 70px;
          color: #c7c8c8;
          top: 40%;
          left: 50%;
          @include transform(translateY(-50%) translateX(-50%));
          z-index: 1;
        }
      }
      a {
        margin-top: 10px;
        display: inline-block;
        width: 100%;
      }
    }
  }
  ._eventSection {
    h5 {
      font-size: 14px;
      color: #353434;
      margin: 5px 0;
      font-weight: 600;
    }
    h6 {
      font-size: 12px;
      color: #5d5d5d;
      margin: 5px 0;
    }
    address {
      font-size: 13px;
      color: #434343;
      font-weight: 600;
    }
    p {
      font-size: 13px;
      color: #353434;
    }
  }
}

.content .btn-group.bootstrap-select {
  width: 100% !important;
}


/* Appointment page */

.table-custom-bordered > {
  tbody > tr > {
    td,
    th {
      border: 1px solid #e8e8e8;
    }
  }
  tfoot > tr > {
    td,
    th {
      border: 1px solid #e8e8e8;
    }
  }
  thead {
    > tr > {
      td,
      th {
        border: 1px solid #e8e8e8;
      }
    }
    &:first-child > tr:first-child > th {
      border-top: 1px solid #e8e8e8;
    }
    > tr > th:first-child {
      border-left: 1px solid transparent;
    }
  }
  tbody > tr > td:first-child {
    border-left: 1px solid transparent;
  }
  thead > tr > th:last-child,
  tbody > tr > td:last-child {
    border-right: 1px solid transparent;
  }
}

.table-custom-striped > tbody > tr {
  &:nth-of-type(even) {
    background-color: #f7f7f7;
  }
  &:nth-of-type(odd) {
    background-color: #fff;
  }
}

.table-custom-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}

.table-custom-striped > thead > tr > th {
  color: #000;
}

.search-btn-box {
  .btn {
    width: 100%;
  }
}

._add-appointment {
  .form-group {
    margin-bottom: 30px;
    label {
      font-weight: 500
    }
  }
  h4 {
    margin: 20px 0;
  }
  .btn-wrapper .btn {
    font-size: 13px;
    padding: 8px 35px;
    margin-left: 10px;
  }
}

.availability {
  .pickmeup-bootstrap {
    height: 1200px;
    overflow: auto;
  }
}
